@keyframes zoom {
  from {
    transform: scale(100%);
  }
  to {
    transform: scale(135%);
  }
}
html {
  font-size: 16px;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  padding: 8rem 10rem;
  background-color: #1e2c34;
  transition-duration: 300ms;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  height: 100%;
}

h1 {
  font-size: 2.5rem;
  color: white;
  padding: 0 0.5rem;
  margin: 0;
  align-self: flex-start;
}

a {
  text-decoration: none;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url('./pexels-esan-2085998.jpg');
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  animation: zoom infinite 40s alternate linear;
}

.column {
  flex: 1;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  margin-top: -0.75rem;
  height: 1.5rem;
  width: 1.5rem;
  fill: rgb(60, 64, 67);
}
#favorites {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: flex-start;
  height: 100%;
  gap: 1.25rem;
}
.favorite {
  width: auto;
  height: auto;
  padding: 1.5rem;
  transition-duration: 300ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 1.25rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
  cursor: pointer;
}
.favorite p {
  margin: 0;
}
.favorite:hover,
.google-services a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.25);
}
.favorite img {
  height: 1.6rem;
  width: 1.6rem;
  margin-bottom: 0.5rem;
}

/* News block */
.news-container {
  position: relative;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 1.25rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.news-container a {
  margin: 0.5rem 0;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  color: white;
}
.news-container img {
  height: 5rem;
  margin-right: 1rem;
  width: auto;
}
#news {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 2rem);
  width: calc(100% - 2rem);
  margin: 1rem 1.5rem 2.5rem 1.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}
#news::-webkit-scrollbar {
  display: none;
}

/* Weather and date block */
.info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.25rem;
  font-size: 8rem;
  color: white;
  transition-duration: 300ms;
}

.info > .column {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 1.25rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 3rem 0;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.column p {
  margin: 0;
}
.description {
  font-size: 2rem;
}

/* Google services */
.google-services {
  display: flex;
  align-self: flex-start;
}
.google-services a {
  display: block;
  transition-duration: 300ms;
  height: 5rem;
  width: 5rem;
  padding: 1.25rem;
  margin: 0 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.google-services a img {
  width: 2.5rem;
  height: 2.5rem;
}

@media (max-width: 2000px) {
  body {
    padding: 5rem;
  }
  .favorite {
    padding: 0.75rem;
  }
}

@media (max-width: 1600px) {
  html {
    font-size: 14px;
  }
  body {
    padding: 5rem;
  }
  .favorite {
    padding: 0.5rem;
  }
  .info {
    font-size: 7rem;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 12px;
  }
  body {
    padding: 3rem;
  }
  .favorite {
    padding: 0.25rem;
  }
  .info {
    font-size: 6rem;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 10px;
  }
  body {
    padding: 2rem;
  }
  .favorite {
    padding: 0.2rem;
  }
  .info {
    font-size: 4rem;
  }
}
